PORT=5000
NODE_ENV=development

MONGO_URI=your_mongodb_atlas_connection_string_with_database_name

JWT_SECRET=your_very_long_random_secret_at_least_32_characters
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

ADMIN_NAME=Tamjid Niloy
ADMIN_EMAIL=tamidniloy@gmail.com
ADMIN_PASSWORD=your_strong_admin_password

SITE_TITLE=Tamjid Niloy Portfolio

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
